@using MeuSiteEmMVC.Enums;

@model List<UserModel>
@{
	ViewData["Title"] = "Usuários";
}

<h1 class="text-center">Usuários</h1>

@if (TempData[IDsTempData.SucessoAddContato] != null)
{
	<div role="alert" class="alert alert-success">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
		@TempData[IDsTempData.SucessoAddContato]
	</div>
}

<p>@Model.Count() usuários registrados</p>

<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Enaim</th>
				<th scope="col">Cargo</th>
			</tr>
		</thead>

		<tbody>

			@if (Model != null && Model.Any())
			{
				foreach (UserModel contato in Model)
				{
					@* Console.WriteLine($"{contato.Id}, {contato.Nome}, {contato.Email}"); *@
					<tr>
						<th scope="row">@contato.Id</th>
						<td>@contato.Nome</td>
						<td>@contato.Email</td>
						<td>@contato.Cargo</td>

						<td>
							<div class="btn-group" role="group">
								<a class="btn btn-primary" role="button" asp-route-id="@contato.Id" asp-controller="User" asp-action="Editar">Editar</a>

								<a class="btn btn-danger" role="button" asp-route-id="@contato.Id" asp-controller="User" asp-action="Deletar">Apagar</a>
								
								<a class="btn btn-secondary" role="button" asp-route-id="@contato.Id" asp-controller="User" asp-action="Esconder">Esconder</a>
							</div>

						</td>
					</tr>
				}
			}
			
		</tbody>
	</table>
</div>


@* <a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Criar">Adicionar Usuário</a> *@