@model List<ContatoModel>
@{
	ViewData["Title"] = "Contatos";
}
@*<h1>@ViewData["Title"]</h1>*@

@* @for (int i=0; i < 100; i++){ Console.WriteLine("Mano"); } *@

<div class="text-center">
	<h1>Contatos</h1>
</div>

<p>@Model.Count() contatos existem aqui</p>

<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>

		<tbody>

			@if(Model != null && Model.Any())
			{
				foreach (ContatoModel contato in Model)
				{
					Console.WriteLine($"{contato.Id}, {contato.Nome}, {contato.Email}");
					<tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>
                            @* <partial name="_BotoesContato" /> *@
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-primary" asp-route="@contato.Id">Editar</button>


								<a class="btn btn-danger" role="button" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Deletar">Apagar</a>
								
								<button type="button" class="btn btn-secondary" asp-route="@contato.Id">Esconder</button>
							</div>

                        </td>
                    </tr>
				}
			}
			
		</tbody>
	</table>

</div>


<a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Criar">Adicionar Contato</a>

