
@using MeuSiteEmMVC.Views.Shared;

@model List<ContatoModel>
@{
	
	ViewData["Title"] = "Contatos";
}

@*<h1>@ViewData["Title"]</h1>*@
@* @for (int i=0; i < 100; i++){ Console.WriteLine("Mano"); } *@

@* <div class="text-center"> *@
<h1 class="text-center">Contatos</h1>
@* </div> *@

@if (TempData[IDsTempData.SucessoAddContato] != null)
{
    <div role="alert" class="alert alert-success">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData[IDsTempData.SucessoAddContato]
    </div>
}

<p>@Model.Count() contatos existem aqui</p>

<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>

		<tbody>

			@if(Model != null && Model.Any())
			{
				foreach (ContatoModel contato in Model)
				{
					@* Console.WriteLine($"{contato.Id}, {contato.Nome}, {contato.Email}"); *@
					<tr>
                        <th scope="row">@contato.Id</th>

						@if (contato.Esconder == 0){
							<td>@contato.Nome</td>
							<td>@contato.Email</td>
						}
						else{
							<td>****</td>
							<td>****</td>
						}

                        <td>
							<div class="btn-group" role="group">
								<a class="btn btn-primary" role="button" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>

								<a class="btn btn-danger" role="button" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Deletar">Apagar</a>
								
								<a class="btn btn-secondary" role="button" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Esconder">Esconder</a>
							</div>

                        </td>
                    </tr>
				}
			}
			
		</tbody>
	</table>

</div>


<a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Criar">Adicionar Contato</a>